@font-face {
    font-family: 'sans-regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'sans-regular', sans-serif;
    font-weight: 400;
}
body a {
    color: black;
}
.link {
    background-color: #fff;
    color: #79bbd5;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

}
.seagull {
    height: 58px;
    margin-right: 20px;
}
.seagull2 {
    height: 58px;
    margin-left: 20px;
}
.link-wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.link:hover {
    background-color: #79bbd5;
    color: #fff;
    cursor: pointer;
  }
.container {
    margin: 0 auto;
    
}
.header {
    background-color: rgba(59, 72, 91, 1);
    padding: 50px 200px;
    

}
.yellow {
    color: rgba(248, 213, 48, 1);
}
.title-wrap-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px 100px; */
}
.logo {
    margin-right: 30px;
}
.logo-img {
    width: 100px;
}
.title-wrap {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 80px;
    color: white;
    font-weight: 700;
    white-space: nowrap;
}
.sub-title {
    font-size: 30px;
    color: rgba(113, 126, 142, 1);
    margin-top: 5px;
    font-weight: 700;
}
.header-txt {
    /* font-family: 'name', sans-serif; */
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 1.5;
    margin-top: 30px;
    font-weight: 700;

}
.main {
    background-color: rgba(121, 187, 213, 1);
    padding: 0px 200px;
}
.main-txt {
    font-size: 14px;
    padding-top: 30px;
}
/* .txt-white {
    color: white;
} */
.main-txt-title {
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.strong {
    font-weight: 700;
    line-height: 1.5;
}
.main-form {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}
.main-form-discont {
    display: block;
    margin-top: 30px;



}
.main-form-discont-btn {
    font-size: 30px;
    color: white;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}
.main-form-value {
    font-size: 30px;
    padding: 10px 0px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
}
.main-form-link {
    display: block;
    margin-top: 30px;

}
.main-form-btn {
    border-radius: 10px;
    font-weight: 900;
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


.main-form-value::placeholder {
    text-align: center;
    color: rgba(197, 198, 198, 1);
}

.padding-to-footer {
    padding-bottom: 50px;
} 
.footer {
    position: relative;
    width: 100%;
}
.footer-txt {
    position: absolute;
    text-align: center;
    top: 50px;  
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: white;
}
.footer-img {
    width: 100%;
}


